<ion-list>
  <ion-item>
    <h3>Select Filters</h3>
  </ion-item>

  <ion-item>
    <ion-label>Loughborough</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Nottingham</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Leicester</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Lincoln</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Nottingham Trent</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>DMU</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
</ion-list>
