// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.content-md {
  background: #e6e6e6;
}

ion-segment.segment-md {
  background: #fff;
}

ion-label {
  white-space: normal;
}

.tabbar {
  opacity: 1;
}


.item-md p {
  overflow: visible;
}

.ion-label {
  overflow: visible;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
  margin: 0;
}

.header-md-primary {
  background: #d32f2f;
}

.scroll-content {
  padding: 0!important;
}

.popover-content {
  top: 12px!important;
  right: 10px!important;
  left: auto!important;
}

.platform-mobile textarea.text-input {
  height: 100%;
}

.pull-right {
  float: right;
}

.center-align {
  text-align: center;
}
