page-notices {
  ion-badge {
    float: right;
  }
  ion-label {
    white-space: nowrap;
  }
}

ion-item.notice-header {
  background: $primary;
  h2 {
    color: #fff;
  }
  p {
    color: #C6C6C6;
  }
}
