<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="attending" checked="checked">
      Attending
    </ion-segment-button>
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="created">
      Created
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div [ngSwitch]="type">

    <ion-list *ngSwitchCase="'attending'" no-margin>
      <div *ngFor="let item of events let id = index">
      <ion-card *ngIf="item.attend">
        <ion-item color="primary">
          <ion-card-title item-left no-padding no-margin>
            <h2>{{item.title}}</h2>
          </ion-card-title>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
          </ion-avatar>
          <h2>{{item.user}}</h2>
          <p>{{item.data}}</p>
        </ion-item>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
              <div>{{item.attending}} Attending</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div (click)="viewEvent(id)">View More</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.submitted}} ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'all'">

      <div *ngFor="let item of events let id = index">
        <ion-card>
        <ion-item color="primary">
          <ion-card-title item-left no-padding no-margin>
            <h2>{{item.title}}</h2>
          </ion-card-title>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
          </ion-avatar>
          <h2>{{item.user}}</h2>
          <p>{{item.data}}</p>
        </ion-item>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
              <div>{{item.attending}} Attending</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div (click)="viewEvent(id)">View More</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.submitted}} ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'created'">

      <div *ngFor="let item of events let id = index">
        <ion-card *ngIf="item.created">
        <ion-item color="primary">
          <ion-card-title item-left no-padding no-margin>
            <h2>{{item.title}}</h2>
          </ion-card-title>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
          </ion-avatar>
          <h2>{{item.user}}</h2>
          <p>{{item.data}}</p>
        </ion-item>

        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="people"></ion-icon>
              <div>{{item.attending}} Attending</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div (click)="viewEvent(id)">View More</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              {{item.submitted}} ago
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-card>
      </div>
    </ion-list>

  </div>

</ion-content>


<ion-fab right bottom>
  <button ion-fab><ion-icon name="add"></ion-icon></button>
</ion-fab>
